asgiref==3.5.2
beautifulsoup4==4.11.1
blis==0.7.9
catalogue==2.0.8
certifi==2022.9.24
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
confection==0.0.3
cssselect==1.1.0
cymem==2.0.7
Django==4.1.1
django-cors-headers==3.13.0
django-neomodel==0.0.7
djangorestframework==3.13.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2022.9.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
iso639==0.1.4
jellyfish==0.9.0
Jinja2==3.1.2
joblib==1.2.0
langcodes==3.3.0
langdetect==1.0.9
lemminflect==0.2.3
lxml==4.9.1
MarkupSafe==2.1.1
murmurhash==1.0.9
neo4j-driver==4.3.6
neobolt==1.7.17
neomodel==4.0.8
networkx==2.8.7
nltk==3.7
numpy==1.23.3
packaging==21.3
pandas==1.5.0
pathy==0.6.2
preshed==3.0.8
pydantic==1.10.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.2.1
rake-nltk==1.0.6
readability-lxml==0.8.1
regex==2022.9.13
requests==2.28.1
rfc3986==1.5.0
scikit-learn==1.1.2
scipy==1.9.1
segtok==1.5.11
Shapely==1.7.1
six==1.16.0
sklearn==0.0
smart-open==5.2.1
sniffio==1.3.0
soupsieve==2.3.2.post1
spacy==3.4.2
spacy-legacy==3.0.10
spacy-loggers==1.0.3
sqlparse==0.4.2
srsly==2.4.5
tabulate==0.9.0
thinc==8.1.5
threadpoolctl==3.1.0
tqdm==4.64.1
typer==0.4.2
typing-extensions==4.4.0
tzdata==2022.2
urllib3==1.26.12
wasabi==0.10.1
yake==0.4.8
